.super_admin_home_box{
    padding: 15px 15px;
    background-color: #04A9F5;
    border-radius: 5px;
}
.super_admin_home_box_top h5{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.super_admin_home_box_bottom_left h3{
    color: #fff;
    font-weight: 400;
    font-size: 44px;
}
.super_admin_home_box_bottom_right i{
    font-size: 40px;
    color: #82D4FA;
}
.super_admin_mobile_menu{
    display: none;
}
.supad-bars{
    display: none;
    text-align: right;
    margin-bottom: 30px;
}

@media screen and (max-width:992px){
    .super_admin_home_box{
        width: 40%;
    }
    .super_admin_home_all{
        display: flex !important;
        justify-content: center !important;
    }
}
@media screen and (max-width:768px){
    .super_admin_home_box{
        width: 100%;
    }
    .superadmin_home{
        width: 100%;
    }
    .super_admin_home_all{
        display: flex !important;
        justify-content: center !important;
    }
    .superadmin-sidebar{
        display: none;
    }
    .super_admin_mobile_menu{
        display: block;
    }
    .supad-bars{
        display: block;
    }
}
@media screen and (max-width:576px){
    .super_admin_home_box{
        width: 100%;
    }
    .super_admin_mobile_menu{
        display: block;
    }
    .supad-bars{
        display: block;
    }
}