.our_teacher_top ul{
    padding: 0;
    display: flex;
    gap: 10px;
}
.our_teacher_top ul li{
    list-style: none;
    color: black;
    padding: 2px 10px;
    font-size: 14px;
}
.our_teacher_top ul li:hover{
    color: blue;
    transition: .3s all;
    cursor: pointer;
}
.our_teacher_bottom .teacher_name{
    color: #2f3c40;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-family: Lato, Tahoma, sans-serif;
    font-weight: 700;
}
.our_teacher_bottom_box_faculties span{
    color: #0191c6;
    display: block;
    font-size: 12px;
    padding-top: 5px
}
.our_teacher_bottom .teacher_eamil{
    color: #8d908f;
    font-size: 13px;
    margin-bottom: 5px;
}
.our_teacher_bottom p{
    color: #8d908f;
}
.our_teacher_bottom button{
    background-color: transparent !important;
    border: none;
    border: 1px solid black;
    color: black;
    padding: 8px 15px;
    margin: auto;
}
/* .our_teacher_bottom button:hover{
    background-color: black !important;
    color: white;
    border-color: black;
    transition: .3s all;
} */
.our_teacher_bottom_box{
    width: 23%;
    margin-bottom: 10px;
}
.selected_teacher{
    background-color: #2a2e30;
    color: #fff !important;
}




/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



