.teacher_grades_list .search_div input {
    background: #f4f7fa !important;
    padding: 8px 12px !important;
    font-size: 14px;
    color: #495057;
    height: auto;
    border: 0px;
    border-bottom: 1px solid rgba(130, 139, 178, 0.3) !important;
    border-radius: 0px;
    outline: none !important;
    transition: .3s all;
    margin-left: 5px;
}
.teacher_grades_list .search_div input:focus {
    border-bottom: 1px solid #0d6efd;
    transition: .3s all;
}
.teacher_grades_list table thead th{
    background-color: #F8F9FA !important;
}
.teacher_grade_list_title{
    font-size: 35px;
    font-weight: 500;
    color: #2C323F;
    margin-bottom: 40px;
}
.teacher_stu_name{
    color: #2C323F !important;
    font-weight: bolder;
}
.teacher_stu_name:hover{
    cursor: pointer;
    color: #0d6efd !important;
    transition: .3s all;
}
.teacher_grades_reviev {
    background-color: #002140;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 500px;
    max-height: 70vh;
    overflow-x: auto;
    border-radius: 5px;
}

.teacher_grades_reviev span {
    cursor: pointer;
}

.teacher_grades_reviev span:hover {
    color: red !important;
    transition: 0.3s all !important;
}
